################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/digital/bin/Debug/net8.0
/.vs
/digital/obj
