@model digital.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<div class="content-wrapper" style="min-height: 100vh;">
    <div class="container pt-4">
        <h4 class="mb-3">Edit </h4>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label">Standard</label>
                <input asp-for="Name" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Category" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
</div>